.App {
  text-align: center;
}
form{
  display: inline-block;
  background-image: linear-gradient(45deg,#00ffa6,rgb(0, 195, 255));
  padding:50px;
  font-size: 1.5rem;
  border-radius: 15px;
  border: 3px solid rgba(108, 5, 5, 0.481);
  box-shadow: 8px 8px 55px black;
  border-left:  19px solid rgb(244, 97, 5);
  
}
label{
  display: inline-block;
  width: 200px;
  text-align: start;
  color: rgb(7, 23, 37);
  font-style:oblique;
  
}
input{
  display: inline-block;
  width: 250px;
}
.in1{
  width:auto;
}
.sz1{
  display: inline;
  width: 250px;
}
body{background-color: brown;}

button {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100px;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
